<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Miiof - My Invoice Is On Fire Invoice Generator In PHP With Silx And Flint And These All Start With A Capital Letter, It's Late Ok?">
<title>Miiof - Invoice generator</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<style>
textarea {
		width: 100%;
}
</style>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/miiof.js"></script>
