{% extends "main.html.twig" %}

{% block content %}
	<div ng-app="miiofApp" ng-controller="CreateCtrl">
		<form>
			<input name='invoiceid' placeholder='ID of invoice, get it from last one' value='{[{exampleInvoice.invoiceId}]}'>
			<input name='from' placeholder='From' value='{[{exampleInvoice.from.name}]}'>
			<input name='to' placeholder='To' value='{[{exampleInvoice.to.name}]}'>
			<hr>
			<div ng-repeat="item in exampleInvoice.items">
				<input ng-model="item.description" name="item{[{ item.invoiceId }]}['description']" placeholder='Description of the thing you want to invoice for'>
				<input ng-model="item.quantity" name="item{[{ item.invoiceId }]}['quantity']" placeholder='Quantity of the thing you want to invoice for'>
				<input ng-model="item.price" type='number' name="item{[{ item.invoiceId }]}['price']" placeholder='Price of the thing you want to invoice for'>
				<span name="item{[{ item.invoiceId }]}['subamount']">{[{exampleInvoice.currency.symbol}]}{[{ item.quantity * item.price | number:2}]}</span>
				<hr>
			</div>
			<span name='total' id='total'>{[{exampleInvoice.currency.symbol + exampleInvoice.total}]}</span>
			<textarea name='notes'>{[{exampleInvoice.notes}]}</textarea>
		</form>
	</div>
{% endblock %}
