{% extends "main.html.twig" %}

{% block content %}
	<div ng-app="miiofApp" ng-controller="CreateCtrl">
		<form>
			<input name='invoiceid' placeholder='ID of invoice, get it from last one' value='{[{invoice.invoiceId}]}'>
			<input name='date' placeholder='Date, pickable by selector of some sort?' value='{[{invoice.date}]}'>
			<input name='from' placeholder='From' value='{[{invoice.from.name}]}'>
			<input name='to' placeholder='To' value='{[{invoice.to.name}]}'>
			<hr>
			<div ng-repeat="item in invoice.items">
				<input ng-model="item.description" name="item{[{ item.invoiceId }]}['description']" placeholder='Description of the thing you want to invoice for'>
				<input ng-model="item.quantity" name="item{[{ item.invoiceId }]}['quantity']" placeholder='Quantity of the thing you want to invoice for'>
				<input ng-model="item.price" type='number' name="item{[{ item.invoiceId }]}['price']" placeholder='Price of the thing you want to invoice for'>
				<span name="item{[{ item.invoiceId }]}['subamount']">{[{invoice.currency.symbol}]}{[{ item.quantity * item.price | number:2}]}</span>
				<hr>
			</div>
			<a href='' ng-click="addItem()">Add new invoice item</a>
			<span name='total' id='total'>{[{invoice.currency.symbol + invoice.total}]}</span>
			<textarea name='notes'>{[{invoice.notes}]}</textarea>
		</form>
	</div>
{% endblock %}
