{% extends "main.html.twig" %}

{% block content %}
	<div ng-app="miiofApp" ng-controller="CreateCtrl">
		<form method='POST' action='/generate'>
			<input name='invoiceid' placeholder='ID of invoice, get it from last one' ng-model='invoice.invoiceId'>
			<input name='date' placeholder='Date, pickable by selector of some sort?' ng-model='invoice.date'>
			<input name='subject' placeholder='Subject, why are you sending the invoice?' ng-model='invoice.subject'>
			<input name='from' placeholder='From' ng-model='invoice.from.name'>
			<input name='to' placeholder='To' ng-model='invoice.to.name'>
		    <input name='total' type='hidden' ng-value='invoice.total'>
			<hr>
			<div ng-repeat="item in invoice.items">
				<a href='' ng-click="removeItem(item)">Remove</a>
				<input ng-model="item.description" name="items[{[{ item.itemId  }]}][description]" placeholder='Description of the thing you want to invoice for'>
				<input min="0" step="any" ng-model="item.quantity" name="items[{[{ item.itemId }]}][quantity]" placeholder='Quantity of the thing you want to invoice for'>
				<input min="0" step="any" ng-model="item.price" type='number' name="items[{[{ item.itemId }]}][price]" placeholder='Price of the thing you want to invoice for'>
				<span ng-model="item.subtotal">{[{invoice.currency.symbol}]}{[{ item.quantity * item.price | number:2}]}</span>
			</div>
			<a href='' ng-click="addItem()">Add new invoice item</a>
			<span name='total' id='total'>{[{invoice.currency.symbol}]} {[{invoice.total | number:2}]}</span>
			<textarea name='notes'>{[{invoice.notes}]}</textarea>
			<input type='submit' name='submit' value='GENERATE'>
		</form>
	</div>
{% endblock %}
