{% extends "main.html.twig" %}
{% block content %}
<br>
Ello, ello, ello
<hr>
<a class='btn btn-primary' href='/dropbox/start'>Login with Dropbox</a>
<a id='create_invoice_link_button' class='btn btn-primary' href='{{ path('miiof_create') }}'>Create Invoice</a>

{% endblock %}
