{% extends "main.html.twig" %}
{% block content %}
<br>
Ello, ello, ello
<hr>
<a id='dropbox_authenticate_link_button' style='display:none;' class='btn btn-primary' onclick="client.authenticate();return false;" href='/'>Link with Dropbox</a>
<a id='create_invoice_link_button' class='btn btn-primary' href='{{ path('miiof_create') }}'>Create Invoice</a>

{% endblock %}
