<!DOCTYPE html>
<html>
	<head>
		{% include "partials/head.html.twig" %}
	</head>
	<body ng-app="miiofApp">
		<p>Angular test {[{'yet' + '!'}]}</p>
		{% block content %}{% endblock %}
	</body>
</html>
